.DS_Store
db/*.db
db/*.sqlite3
*.log
db/schema.rb
log/*.log
doc/api
doc/plugins
doc/*.svg
tmp
vendor/rails
vendor/plugins
vendor/gems
public/system
public/javascripts/cache
public/stylesheets/cache
config/query_reviewer.yml
public/photos
test/data
