<div id='link_name' class='span-24 last'><%= link_to @link.name, link_path(@link) %></div>

  <div id='comments' class='span-24 last'>
    <% @link.comments.each do |comment| %>
      <%= format_comment(comment) %>
    <% end %>
    <%= link_to 'Back', comments_path %>
  </div>
</div>