<div id="link_<%= @link.id %>" class='span-24 last'>
  <div id="link_description" class='span-23 append-1 last'><%= @link.description%></div>
</div>

<div id='link_comments' class='span-24 last'>
  <% @comments.each do |comment| %>
    <%= comment %>
  <% end %>
</div>

<%= link_to 'Back', links_path %>
